
<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>

    <style type="text/css">
        * {
            margin: 0px;
        }

        .container {
            width: 1140px;
            margin: 0 auto;
        }

        .auto-style7 {
            width: 148px;
            height: 32px;
        }

        .auto-style8 {
            margin-left: 2px;
        }

        .green_color {
            background: #00CC00;
        }

        .masterimage {
            Height: 125px;
            Width: 250px;
            margin-bottom: -4px;
        }

        .space_between {
            display: flex;
            justify-content: space-between;
        }

        .center-items {
            display: flex;
            align-items: center;
        }

        .header_menu {
            display: flex;
            flex-direction: row;
            column-gap: 20px
        }

        .templateSection {
            display: flex;
            flex-flow: column;
            min-height: 100vh;
        }

        table {
            border-top-width: 0px;
            border-bottom-width: 0px;
        }

        .Flex-Container {
            display: flex;
            margin: 0 auto;
            column-gap: 2em;
        }

        .justify-content-end {
            display: flex;
            justify-content: end;
        }

        .justify-content-center {
            display: flex;
            justify-content: center;
        }

        .pd-l-r-1 {
            padding: 0 1em;
        }

        .pd-l-r-2 {
            padding: 0 2em;
        }

        .pd-t-b-1 {
            padding: 1em 0;
        }

        .pd-t-b-2 {
            padding: 2em 0;
        }

        .displayimg {
            width: 100%;
            border-radius: 20px;
        }

        #ReportAvailabiliy {
            padding: 2em 0 4em 0;
            font-size: 20pt;
        }

        .Checkboxclass {
            height: 30pt;
            width: 30pt;
        }

        #Yes {
            font-size: 30pt;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
        <div class="templateSection">
            <div class="green_color space_between center-items">
                <div>
                    <asp:Image ID="Image1" runat="server" ImageUrl="~/Properties/logo.png" Cssclass="masterimage" />
                </div>
                <div style="width:100%;display:flex;justify-content:end;padding-right:20px;">
                    <asp:Menu ID="Menu1" runat="server" Orientation="Horizontal">
                        <Items>
                            <asp:MenuItem Text="Home" Value="Home" NavigateUrl="~/Home.aspx"></asp:MenuItem>
                            <asp:MenuItem Text="Contact Us" Value="Contact Us" NavigateUrl="~/ContactUs.aspx"></asp:MenuItem>
                            <asp:MenuItem Text="Search Catalogue" Value="Search Catalogue" NavigateUrl="~/Inventory.aspx"></asp:MenuItem>
                            <asp:MenuItem Text="About Us" Value="About Us" NavigateUrl="#"></asp:MenuItem>
                            <asp:MenuItem Text="FAQ's" Value="FAQ's" NavigateUrl="~/FAQ.aspx"></asp:MenuItem>
                            <asp:MenuItem Text="Login" Value="Login" NavigateUrl="~/Login.aspx"></asp:MenuItem>
                            <asp:MenuItem Text="Sign Up" Value="Sign Up" NavigateUrl="~/Register.aspx"></asp:MenuItem>
                        </Items>
                        <StaticHoverStyle ForeColor="Yellow" />
                        <StaticMenuItemStyle BorderStyle="None" Font-Bold="True" Font-Names="Segoe UI" Font-Size="Large" ForeColor="White" Height="40px" ItemSpacing="5px" CssClass="menu" />
                        <StaticMenuStyle CssClass="header_menu" />
                    </asp:Menu>
                </div>
            </div>

            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                @RenderBody()
            </asp:ContentPlaceHolder>

            <footer style="margin-top:auto">
                <div class="green_color center-items">
                    <asp:Image ID="Image2" runat="server" ImageUrl="~/Properties/logo.png" Cssclass="masterimage" />
                    <div class="container space_between">
                        <div>
                            <strong>
                                <span style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size:1.5em"> Subcribe for more from JAMCHECK</span>
                            </strong>
                        </div>

                        <div>
                            <asp:TextBox ID="TextBox1" runat="server" BackColor="#FFFF66" BorderStyle="Solid" Height="26px" Width="200px"></asp:TextBox>
                            <asp:Button ID="Button1" runat="server" CssClass="auto-style7" EnableTheming="False" Font-Bold="True" Font-Names="Segoe UI" Text="Subcribe" />
                        </div>
                    </div>

                </div>
            </footer>
        </div>
    </form>
</body>
</html>
